@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
  color: white;
}
